html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 100vw;
  display: flex;
  justify-content: center;
  perspective: 100vw;
  perspective-origin: 50% 50%;
}

/* .clock .digit {
  position: relative;
  width: 60px;
  height: 90px;
  background-color: #fff;
  border-radius: 1vw;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: #333;
  margin-right: 0px;
} */

.clock .digit .base {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock .digit .flap {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #fff;
  left: 0;
  top: 0;
  /* border-radius: 1vw 1vw 0 0; */
  transform-origin: 50% 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.clock .digit .flap::before {
  content: attr(data-content);
  position: absolute;
  left: 50%;
}

.clock .digit .flap.front::before,
.clock .digit .flap.under::before {
  top: 100%;
  transform: translate(-50%, -50%);
}

.clock .digit .flap.back {
  transform: rotateY(180deg);
}

.clock .digit .flap.back::before {
  top: 100%;
  transform: translate(-50%, -50%) rotateZ(180deg);
}

.clock .digit .flap.over {
  z-index: 2;
}

.clock .digit .flap.under {
  z-index: 1;
}

.clock .digit .flap.front {
  animation: flip-down-front 300ms ease-in both;
}

.clock .digit .flap.back {
  animation: flip-down-back 300ms ease-in both;
}

.clock .digit .flap.under {
  animation: fade-under 300ms ease-in both;
}

/* ---------- Animations ---------- */
@keyframes flip-down-front {
  0% {
    transform: rotateX(0deg);
    background-color: #fff;
    color: #333;
  }
  100% {
    transform: rotateX(-180deg);
    background-color: #bfbfbf; /* darken(#fff, 35%) */
    color: #222; /* darken(#333, 35%) */
  }
}

@keyframes flip-down-back {
  0% {
    transform: rotateY(180deg) rotateX(0deg);
    background-color: #bfbfbf;
    color: #222;
  }
  100% {
    transform: rotateY(180deg) rotateX(180deg);
    background-color: #fff;
    color: #333;
  }
}

@keyframes fade-under {
  0% {
    background-color: #bfbfbf;
    color: #222;
  }
  100% {
    background-color: #fff;
    color: #333;
  }
}
